<a href="https://colab.research.google.com/github/Jwelliver/data-puzzles/blob/main/data-puzzles-com/earth-warning/Data_Puzzle_Earth's_PSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

Here's is the message from Earth:
'I remember that if you sort the countries (or dependencies) [Guinea, Iran, Trinidad And Tobago, Honduras, Lebanon, Ethiopia, Niger, Afghanistan, India, American Samoa, Cuba, Gabon, Nicaragua, Channel Islands, Martinique] by density of population (DESCENDING) and then only look at the first letter of each country, you'll get my message back!! Can you help me please?'

To help our planet, we preloaded world population and geographical data from the website Worldometer (https://worldometers.info/). Use it to do what the earth says and decode the message!

In [2]:
import pandas as pd

countries = ['Guinea', 'Iran', 'Trinidad and Tobago', 'Honduras', 'Lebanon',
             'Ethiopia', 'Niger', 'Afghanistan', 'India', 'American Samoa',
             'Cuba', 'Gabon', 'Nicaragua', 'Channel Islands', 'Martinique']

country_pop = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/population_by_country.csv')

In [ ]:
country_pop.head()

  Country (or dependency)  Population (2020)  ... Urban Pop % World Share
0                   China         1440297825  ...        61 %     18.47 %
1                   India         1382345085  ...        35 %     17.70 %
2           United States          331341050  ...        83 %      4.25 %
3               Indonesia          274021604  ...        56 %      3.51 %
4                Pakistan          221612785  ...        35 %      2.83 %

[5 rows x 5 columns]

In [3]:
country_surface = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/misc/earth/surface_by_country.csv')

In [ ]:
country_surface.head()

  Country (or dependency)  Land Area (Km²)
0                   China          9388211
1                   India          2973190
2           United States          9147420
3               Indonesia          1811570
4                Pakistan           770880

In [ ]:
# Your turn now!

In [39]:
c = country_pop[country_pop['Country (or dependency)'].isin(countries)].drop(['Yearly Change', 'Urban Pop %', 'World Share'], axis=1)

area = country_surface[country_surface['Country (or dependency)'].isin(countries)]

df = pd.merge(c, area, on='Country (or dependency)')
df['LandArea_Per_Capita'] = df['Population (2020)'] / df['Land Area (Km²)']

df = df.sort_values('LandArea_Per_Capita', ascending=False)

print(df)

print("".join([i[0] for i in df['Country (or dependency)']]))

   Country (or dependency)  Population (2020)  Land Area (Km²)  \
13         Channel Islands             174140              190
8                  Lebanon            6819976            10230
0                    India         1382345085          2973190
12              Martinique             375213             1060
14          American Samoa              55169              200
11     Trinidad and Tobago            1400283             5130
1                 Ethiopia          115434444          1000000
6                     Cuba           11325391           106440
7                 Honduras            9931333           111890
3              Afghanistan           39074280           652860
9                Nicaragua            6638075           120340
5                   Guinea           13191279           245720
2                     Iran           84176929          1628550
4                    Niger           24346468          1266700
10                   Gabon            2234448           257670

    LandArea_Per_Capita
13           916.526316
8            666.664321
0            464.936679
12           353.974528
14           275.845000
11           272.959649
1            115.434444
6            106.401644
7             88.759791
3             59.850933
9             55.161002
5             53.684189
2             51.688268
4             19.220390
10             8.671743
CLIMATECHANGING